<!DOCTYPE html>
<html lang="en">
<head>
<%- include('partials/head'); -%>
</head>
<body>
<%- include('partials/menu'); -%>

<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <h4>www.steven.com.my</h4>
      <div style="text-align:center;">
        <iframe src="https://www.steven.com.my"
                style="width: 100%; height: 100vh; border: none;"
                frameborder="0"
                allowfullscreen="true"
                sandbox="allow-scripts allow-same-origin allow-popups">
        </iframe>
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>
  

</body>
<%- include('partials/script'); -%>
</html>